*{
    font-family: Georgia;
}
#banner{
    background-color: DodgerBlue;
    color: white;
    padding: 10px;
    text-align: center;
    float: left;
    width: 100%; /* Dodane bo podstawowo przegladarka nie ustawiła na 100% */
}
#glowny{
    background-color: LightBlue;
    padding: 100px;
    clear:both
}
#lewy{
    background-color: dodgerBlue;
    color: white;
    width: 20%;
    height: 220px;
    float: left;
}
#srodkowy, #prawy{
    background-color: DodgerBlue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;
    float: left;
}
a{
    border: dashed 1px dimgray;
    background-color: Gold;
    color: DarkRed;
    padding: 10px;
}