body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.lewy1 {
    float: left;
    height: 400px;
    width: 70%;
    background-color: snow;
    text-align: center;
}

.lewy2 {
    float: left;
    height: 400px;
    width: 70%;
    background-color: snow;
    font-size: 150%;
}

.prawy1 {
    float: right;
    height: 150px;
    width: 30%;
    background-color: steelblue;
    color: white;
    text-align: center;
}

.prawy2 {
    float: right;
    height: 350px;
    width: 30%;
    background-color: steelblue;
    color: white;
}

.prawy3 {
    float: right;
    height: 300px;
    width: 30%;
    background-color: snow;
    text-align: center;
}

.stopka {
    clear: both;
    background-color: steelblue;
    color: white;
}

h2 {
    font-size: 250%;
}

img {
    padding: 4px;
}

img:hover {
    padding: 3px;
    border: solid 1px steelblue;
}