body{
    background-color: #EEEEEE;
}
#kontener{
    width: 1000px;
    margin:auto;
    text-align: center;
}
#logo, #menu, #stopka{
    background-color: #c0c0c0;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo{
    width: 400px;
    float:left;
}
#menu{
    width: 600px;
    float:left;
}
#baner{
    background-color: #DDDDDD;
    height: 200px;
    clear: both;
}
#glowny{
    margin: 50px;
    clear: both;
}
#stopka{
    text-align: right;
    clear:both;
}
a{
    color: #555555;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
}
hr{
    border-color: #c0c0c0;
    border-width: 2px;
    width: 70%;
}
table{
    text-align: left;
}